<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/design.css">
    <title>Document</title>
</head>

<body>
    <h1>QuizGenie</h1>
    <h2>Generate Quizzes Within A Click Of A Button</h2>
    <form class="selection-form" action="question.html">
        <label for="topic">Topic</label>
        <select id="topicSelect">
            <option value="General">General</option>
            <option value="Books">Books</option>
            <option value="Film">Film</option>
            <option value="Music">Music</option>
            <option value="Video Games">Video Games</option>
            <option value="Sports">Sports</option>
            <option value="Celebrities">Celebrities</option>
            <option value="Animals">Animals</option>
            <option value="Mathematics">Mathematics</option>
        </select>
        <br>
        <label for="Number of questions">Number of questions</label>
        <input type="number" value="1" onkeydown="return false" min="1" max="15" id="amountSelect">
        <br>
        <label for="difficulty">Difficulty</label>
        <select id="difficultySelect">
            <option value="easy">Easy</option>
            <option value="medium">Medium</option>
            <option value="hard">Hard</option>
        </select>
    </form>
    <div class="btn-center">
        <button class="generate-btn" id="generate">Generate</button>
    </div>
    <script src="../scripts/homepage.js"></script>
</body>

</html>