<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Document</title>
</head>
<body>
    <h1>QuizGenie</h1>
    <form action="question.html">
        <label for="topic">Topic</label>
        <input type="search">
        <br>
        <label for="Number of questions">Number of questions</label>
        <input type="number">
        <br>
        <label for="Difficulty">Difficulty</label>
        <select name="cars" id="cars">
            <option value="Easy">Easy</option>
            <option value="Medium">Medium</option>
            <option value="Hard">Hard</option>
        </select>
        <br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>