<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/design.css">
    <title>Document</title>
</head>
<body>
    <h1>TechQuizGenie</h1>
    <h2>Generate Tech Quiz Within A Click Of A Button</h2>
    <form class="selection-form" action="question.html">
        <label for="topic">Topic</label>
        <input type="text"> 
        <br>
        <label for="Number of questions">Number of questions</label>
        <input type="number">
        <br>
        <label for="Difficulty">Difficulty</label>
        <select name="cars" id="cars">
            <option value="Easy">Easy</option>
            <option value="Medium">Medium</option>
            <option value="Hard">Hard</option>
        </select>
        <div class="btn-center">
        <button class="generate-btn" id="generate">Generate</button>
        </div>
    </form>
</body>
</html>